* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body {
    background: #7286dd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
}
